@font-face{
    font-family: "Modern";
    src: url("../res/ModernSans-Light.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EAE7DC;
    
}

.header {
    text-align: center;
    margin-top: 20px;
}

#onScrollMenu {
    text-align: center;
    background-color: #D8C3A5;
    width: 100%;
    position: fixed;
    top: -10%;
    left: 0px;
    height: 10%;
}

#menuButton{
    position: fixed;
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
    left: 95%;
    visibility: hidden;
}

a {
    width: 10%;
    margin-right: 2%;
    color: #838D8A;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-family: Modern;
}

a:hover {
    color: #E98074;
}

a::after {
    color: #838D8A;
}


h1{
    text-align: center;
    font-family: Modern;
    font-size: 50px;
    color: #E98074;
}

img{
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.profile {
    border-radius: 50%;
    display: block;
}

p{
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
    color: #838D8A;
    max-width: 95%;
    margin: auto;
}

#intro {
    color: #E98074;
    font-weight: bold;
}

.languages{
    display: block;
    margin: auto;
    max-height: 200px;
}

.caption{
    display:block;
    margin-bottom: 10px;
}

.portfolioHeader{
    text-align: left;
    font-size: 30px;
    display: inline-block;
    margin-right: 15px;
}

.portfolioLink{
    text-decoration: underline;
}

iframe{
    margin: 0 auto;
    display: block;
}

.portfolioPar{
    text-align: left;
}

#phillip {
    display: block;
    max-width: 560px;
    max-height: 315px;
}

